<%= form_for(@stock_calculation) do |f| %>
  <% if @stock_calculation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stock_calculation.errors.count, "error") %> prohibited this stock_calculation from being saved:</h2>

      <ul>
      <% @stock_calculation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :percentage %><br>
    <%= f.text_field :percentage %>
  </div>
  <div class="field">
    <%= f.label :years %><br>
    <%= f.number_field :years %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
